





<!--=====================================
FOOTER
======================================-->
<footer class="container-fluid">
    <div class="container">
        <div class="row">

            <!--=====================================
            DATOS CONTACTO
            ======================================-->
            <div class="col-md-6 col-sm-6 col-xs-12 text-left infoContacto">
                <h1 style="color: #ffffff">Bolivia:</h1>
                <h5>

                    <i class="fa fa-phone-square" aria-hidden="true"></i> (591) 73643349 | 75071150
                    <br><br>
                    <i class="fa fa-envelope" aria-hidden="true"></i> CESARFUENTES0594@GMAIL.COM
                    <br><br>
                    <i class="fa fa-map-marker" aria-hidden="true"></i>  Santa Cruz De la Sierra
                    <br><br>
                    <i class="fa fa-globe" aria-hidden="true"></i> emprendiendo.com
                    <br><br>
                    santa cruz | Bolivia
                </h5>

            </div>
        </div>
    </div>
</footer>
<!--=====================================
FINAL
======================================-->
<div class="container-fluid final">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-xs-12 text-left text-muted">
                <h5>&copy; 2018 Todos los derechos reservados. Sitio elaborado por cesarfuentes</h5>
            </div>
            <div class="col-sm-6 col-xs-12 text-right social">
                <ul>
                    <li>
                        <a href="http://facebook.com/" target="_blank">
                            <i class="fa fa-facebook redSocial facebookBlanco" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://youtube.com/" target="_blank">
                            <i class="fa fa-youtube redSocial youtubeBlanco" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://twitter.com/" target="_blank">
                            <i class="fa fa-twitter redSocial twitterBlanco" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://instagram.com/" target="_blank">
                            <i class="fa fa-instagram redSocial instagramBlanco" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
<a id="scrollUp" href="#top"></a>
</div>



<script src="/js/plugins/bootstrap.min.js"></script>
<script src="/js/plugins/jquery.easing.js"></script>
<script src="/js/plugins/jquery.scrollUp.js"></script>
<script src="/js/plugins/jquery.flexslider.js"></script>
<script src="/js/slide.js"></script>
<script src="/js/adminlte.min.js"></script>
<script src="/js/plantilla.js"></script>
<script src="/js/infoproducto.js"></script>
<script src="/js/gestorConductor.js"></script>
<script src="/js/solicitudPedidos.js"></script>
</body>
</html>